﻿@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style type="text/css">.form- { }</style>

<h2>Upload Image</h2>
<div class="form-"inline>
    chọn ảnh : <input type="text" name="picture" id="picture" class="form-control"/>
    <input type="file" id="filepUload" accept="image/*" name="fileUpload" style="display: none;"/>
    <input type="button" value="..." class="btn btn-success"/>
</div>
<img id="pictureUpload" witdh="300"/>

@section upload
{
    <script>
        $(function() {
             // đăng ký sự kiện click nút btnUpload.
            $('#btnUpload').click(function() {
                $('#fileUpload').trigger('click'); 
//.trigger(): Thực hiện tất cả các xử lý và đính kèm các loại sự kiện nhất định tới thành phần được chọn.trigger(Sự kiện,Tham số).              
            });
           // bắt sự kiên change data của fileUpload.
            $('#fileUpload').change(function() {
           // kiểm trình duyệt có hỗ trợ formData bject ko ?
                if (window.FormData !== undefined) 
                {
                    // lấy dữ liệu fileUpload.
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    // tạo đối t ượngformdata.
                    var formData = new FormData();
                    // Đưa dữ liệu vào form.
                    formData.append('file', files[0]);
                    // POST form Data lên server
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/HomeControllrer/ProcessUpload',
                            contentType: false, // không có header
                            processData: false, // không xử lý dữ liệu
                            data: formData,
                            success: function(urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error: function(err) {
                                alert('lỗi upload:' + err.statusText);
                            }
                });
                }
            });
        });
    </script>
}
@* * khi kích vào upload thì thực thi sự kiện click().
 khi sự kiện click() xảy ra, thì nó thực thi 1 function() . 
 sự kiện click ở đay là --> $('#filepUload')=> truy cập vào file upload.=>"mở cửa sổ upload lên"  *@
 
 @* note: khi ta click vào button ... => mở cửa sổ chọn tệp tin *@