﻿@model Demo_Manage.Models.Class

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <form method="post" asp-controller="Student" asp-action="Edit">
                <input type="hidden" class="form-control" asp-for="ClassID">
                <div class="form-group">
                    <label asp-for="NameClass" class="control-label"></label>
                    <input asp-for="NameClass" class="form-control" />
                    <span asp-validation-for="NameClass" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Faculty" class="control-label"></label>
                    <input asp-for="Faculty" class="form-control" />
                    <span asp-validation-for="Faculty" class="text-danger"></span>
                </div>
                
                <input class="btn btn-primary" type="submit" value="Save"/>
                <a class=" text-dark btn btn-primary" asp-area="" asp-controller="Class" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>
