﻿@model System.Collections.Generic.IEnumerable<Demo_Manage.Models.Class>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://use.fontawesome.com/49b98aaeb5.js"></script>
<h2>Bạn đang ở trang Index</h2>
<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        @*<img src="http://cunglamseo.com/images/cung-lam-seo-logo.png" alt="cùng làm SEO"/>*@
                        
                        <h2>Request List</h2>
                        @*Icon mobile, facebook*@
                            
                        <div class="row mobile-hotline">
                            <div class="col-md-6 mobile-hotline-left">
                                <a href="http://www.messenger.com/t/joseph.thien.75" target="blank">
                                    <i class='fab fa-facebook-messenger' style='font-size: 36px; color:blue'></i>
                                </a>
                            </div>
                                
                            <div class="col-md-6 mobile-hotline-right">
                                <a href="tel:+84972939830" target="blank"><i style="font-size: 50px; color:blue" class="fa fa-mobile" aria-hidden="true"></i> </a>
                            </div>
                        </div>
              
                        <a asp-action="Create" class="btn btn-primary">Create <i class='fas fa-plus-square'></i></a>

                    </div>
                  
                       
                    
                   
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr style="color:red">
                               
                                <th> Code Student </th>    
                                <th > Name </th>
                                <th> address </th>
                            </tr>    
                            </thead>
                            <tbody>
                            <style>
                                /* Add Facebook and SĐT */
                                .mobile-hotline {
                                    display: -moz-box;
                                    /*width: 150px;
                                    height: 150px;*/    
                                    
                                }
                                .hotline {position: fixed;
                                    left: 10px;
                                    bottom: 10px;
                                    z-index: 9000;
                                    display: block;
                                    background: #fac100;
                                    color: red;
                                    padding-top: 5px;padding-bottom:5px; padding-left:12px; padding-right: 12px;
                                    border-radius: 99px;}
                                .hotline .hotline-number{font-size:20px; color: #b20000; font-weight: bold}
 
                                @@media  (max-width: 767px) {
 
                                    .hotline{
 
                                        display :none;
 
                                    }
                                    .mobile-hotline{display: block; bottom: 0; width: 100%; background:rgba(0,0,0,0.5); height: 60px; position: fixed; z-index: 9999999;}
                                    .mobile-hotline .mobile-hotline-left{width: 45%; float: left; text-align: center; background: blue; margin-left: 10px; margin-right:5px; margin-top: 7px; height: 45px; border-radius: 4px;}
                                    .mobile-hotline .mobile-hotline-left a{color: white; line-height: 46px; font-size:16px; font-weight: bold}
 
                                    .mobile-hotline .mobile-hotline-right{width: 45%; float: right; text-align: center; background: #fac100; margin-left: 5px; margin-right: 10px; margin-top: 7px; height: 45px; border-radius: 4px; color: blue}
                                    .mobile-hotline .mobile-hotline-right a{color: red; line-height: 46px; font-size: 16px; font-weight: bold}
                                }
                                 
                            </style>
                            <a href="tel:+84972939830"><div class="hotline">
                                <span class="before-hotline">Hotline:</span>
                                <span class="hotline-number">0972.939.830</span>
                            </div></a>
                           
                            @foreach (var item in Model)
                            {

                                <tr class="text-left">
                                    <td> @Html.DisplayFor(modelItem => item.ClassID)</td>
                                    <td> @Html.DisplayFor(modelItem => item.NameClass)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Faculty)</td>

                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ClassID">Edit <i class="fa fa-edit"></i></a>
                                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ClassID"><i class="fa fa-trash"></i>Delete</a>
                                        @* <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StudentID” onclick=“return confirm('bạn có chắc chắn muốn xóa');">Delete</a> *@
                                    </td>
                                </tr>
                            }
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
