﻿@model Demo_Manage.Models.Student

<!DOCTYPE html>

<html>
<head>
    <title>Add </title>
</head>
<body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form asp-action="Create">
                      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      <div class="form-group">
                          <label asp-for="NameStudent" class="control-label"></label>
                          <input asp-for="NameStudent" class="form-control" />
                          <span asp-validation-for="NameStudent" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                          <label asp-for="Addr" class="control-label"></label>
                          <input asp-for="Addr" class="form-control" />
                          <span asp-validation-for="Addr" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Create" class="btn btn-primary" />
                          <a class="text-dark btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index">Back</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
</body>
</html>