﻿@model System.Collections.Generic.IEnumerable<Demo_Manage.Models.Student>

@{
    ViewBag.Title = "Index Student";
    Layout = "_Layout";
}
@* <img src="http://banners.wunderground.com/banner/gizmotimetemp_both/ *@
@* language/www/global/stations/48852.gif"alt="Du bao thoi tiet - Co do Hue" title="Dự báo thời tiết - Cố đô Huế" height="41" width="127"> *@
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://use.fontawesome.com/49b98aaeb5.js"></script>
<style type="text/css">.icon-warning-sign { }
</style>
@* //text hiệu ứng *@
@* băng tải ngang *@
@* <marquee style="z-index: 1; left: 10px; width: 770px; position: absolute; top: 20px; height: 1000px;" scrollamount="5" direction="right"> *@
@*     <span class="falling1"> *@
@*         <img src="http://d.violet.vn/uploads/resources/161/0.horses_76.gif" _fcksavedurl="http://www.blinkyou.com/falling/images/hotpinkflower.gif" _fcksavedurl="http://www.blinkyou.com/falling/images/hotpinkflower.gif"> *@
@*     </span> *@
@* </marquee> *@

@* <marquee style="z-index: 1; left: 677px; width: 50px; position: absolute; top: -11px; height: 1000px;" scrollamount="2" direction="down"> *@
@*     <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee> *@
@* <marquee><i class='fas fa-heart' style='font-size:32px;color:red'></i></marquee> *@

<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="3" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 3; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="4" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 4; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="5" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 5; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="6" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 6; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="7" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="8" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="9" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="10" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="1" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>
<marquee style="z-index: 2; left: 660px; width: 46px; position: absolute; top: -6px; height: 900px;" scrollamount="2" direction="down">
    <span class="falling1"><i class='fas fa-heart' style='font-size:32px;color:red'></i></span></marquee>


@* $1$ End hiệu ứng #1# *@
<h2>Index Student</h2>
<i class="icon-warning-sign" style="color:red"></i>

<div class="m-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <i class='fas fa-heart' style='font-size:32px;color:red'></i>
                        <i class='fas fa-heart' style='font-size:32px;color:red'></i>
                       
                    </div>    
                    <a asp-action="Create" ><button style="color:blue" style='font-size:24px'>Create <i style="color:blue" class='fas fa-plus-square'></i></button></a>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr style="color:blue">
                               
                                <th> Code Student </th>
                                <th> Name </th>
                                <th> Address </th>
                                <th style="color:red"> Action </th>
                            </tr>    
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                             
                                <tr class="text-left">
                                    <td> @Html.DisplayFor(modelItem => item.StudentID)</td> 
                                    <td> @Html.DisplayFor(modelItem => item.NameStudent)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Addr)</td>
                                   
                                    <td>
                                        <a  asp-action="Edit" asp-route-id="@item.StudentID"><button style="color:blue" style= " font-size:18px">Edit <i style="color:blue" class="fa fa-edit"></i></button></a> ||
                                        <a  asp-action="Delete"  asp-route-id="@item.StudentID"><button style="color:red" style="font-size:18px">Delete<i style="color:red" class="fa fa-trash"></i></button></a>
                                       @* <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.StudentID” onclick=“return confirm('bạn có chắc chắn muốn xóa');">Delete</a> *@
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

